.nav>li>a:hover,
.nav>li>a:focus {
    color: white;
    background-color: #876c29;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
header {
  height: 130px;
  position: absolute;
  background: white;
  width: 100%;
  top: 0px;
  z-index: 5;
}
header .nav {
  margin-right: 20px;
}
.nav {
  list-style-type: none;
}
.logo {
  height: 128px;
  width: 250px;
  padding: 15px 0px 15px 15px;
  float: left;
}
.header__nav {
  text-align: right;
  float:right;
}
.header__nav__languages {
  margin-top: 14px;
}
.header__nav__languages>li {
  display: inline-block;
  margin-right: 14px;
}
.header__nav__languages__link {
  color: #2f1307;
  font-size: 14px;
  font-weight: 500;
}
.header__nav__sections>li {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}
.header__nav__sections__link {
  color: #876c29;
  font-size: 22px;
  font-weight: 500;
  padding: 15px;
  text-transform: uppercase;

}
.header__nav__section__link_submenu{
  text-transform: uppercase;
  display: list-item;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  background-color: #876c29;
  border-top: 1px solid white;
  margin-right: -20px;
}

.header__nav__section__link_submenu a:link,
.header__nav__section__link_submenu a:visited,
.header__nav__section__link_submenu a:active {
  color: white;
}
.header__nav__section__link_submenu a:hover, 
.header__nav__section__link_submenu a:focus {
  color: #876c29;
  background-color: white;
}



.header__nav__sections_arrow {
  display: inline-block;
  background:  url(../img/arrow.jpg) no-repeat;
  width: 16px;
  height: 16px;
}

@media (max-width: 1155px) {
  .header__nav__sections__link {
    font-size: 20px;
  }
  header {
    height: 120px;
  }
  .logo{
    height: 115px;
    width: 225px;
  }
}


.order {
  background-color: #876c29;
  position: fixed;
  right: 0;
  margin: 235px -135px 0 0;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 0 0 10px 10px;
  z-index: 6;
  transform: rotate(90deg);
  box-shadow: 8px -2px 5px black, inset 1px -1px 2px black;
  padding: 0 15px;
}
.order__link {
  display: inline-block;
  color: white;
  font-size: 21px;
  letter-spacing: 3px;
  text-transform: uppercase; 
  padding: 5px 8px;
}
.order__link:link, 
.order__link:visited, 
.order__link:hover, 
.order__link:active {
  text-decoration: none;
  color: white;
}

.order__background {
  background-color: #876c29;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  margin-top: -130px;
}
  .order__form {
  background-color: #876c29;
  position: absolute;
  z-index: 7;
  left: 16.5%;
  right: 16.5%;
  top: 56%;
  text-align: center;
  border: 3px solid white;
  border-radius: 3px;
  color: white;
}
.order__form__name {
  text-transform: uppercase;
  font-size: 35px;
  padding: 15px 0;   
  font-weight: bold; 
}
.order__form__message{
  text-transform: uppercase;
  font-size: 27px; 
  margin: 0 100px 20px;
  line-height: 30px;
}
.order__form__input{
  background-color: #876c29;
  width: 90%;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 20px; 
  text-align: center;
  color: white;
  font-size: 19px;
  text-transform: uppercase;
  padding: 20px 0;
}
.order__form__submit {
  background-color: white;
  width: 90%;
  border: 3px solid white;
  border-radius: 10px;
  margin: 40px 0; 
  text-align: center;
  color: #876c29;
  font-size: 35px;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: bold;
}


.main__cover {
  height: 100vh;
  width: 100vw;
  background: url('../img/main-backg.jpg') 0 -113px no-repeat;
  background-size: cover;
}
.main__motto {
  max-height: 200px;
  background: white;
  opacity: 0.7;
  position: absolute;
  margin: 0 250px;
  top: 27%;
  color:#876c29;
  padding: 40px 20px;
  font-size: 35px;
  font-style: oblique;
  text-align: center;
}
.main__description {
  border-bottom: 2px solid #876c29;
}
.main__description__img {
  padding: 50px 40px 50px 60px;
  height: 560px;
}
.main__description__text {
  margin: 40px 50px 0 0;
  padding: 46px 46px 0 0;
  font-size: 16px;
  text-align: justify;
}
.main__examples{
  padding-right: 30px;
}
.main__examples__title {
  text-align: center;
  font-size: 26px;
  color: #876c29;
  text-transform: uppercase;
  margin: 0 0 10px 50%;
  background: #fff;
  width: 200px;
  position: relative;
  bottom: 15px;
  right: 100px;
}
.main__examples__nav {
  text-align: center;
  margin-bottom: 25px;
}
.main__examples__nav li {
  display: inline-block;
  margin-right: 42px;
}
.main__examples__nav__link, 
.main__examples__nav__link_works {
  text-transform: uppercase;
  color: #876c29;
}
.main__examples__nav__link {
    font-size: 20px;
} 
.main__examples__nav__link_works {
    font-size: 24px;
}
.main__examples__object {
  padding:0 25px;
  height: 300px;
  margin-bottom: 35px;
}
.main__examples__object__img {
  width:100%;
  height: 225px;
}
.main__examples__object__info {
  height: 70px;
  background: #876c29;
  padding: 10px;
}
.main__examples__object__info__adress, 
.main__examples__object__info__area {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  line-height: normal;
}


.cover {
  height: 150px;
  background: url('../img/main-backg.jpg') 0 -465px no-repeat;
  background-size: cover;

}
.line {
  padding-bottom: 35px;
  border-bottom: 2px solid #876c29;
}
.about-us__title, 
.our-works__title, 
.news__title, 
.feedback__title,
.contact__title {
  display: block;
  color: #876c29;
  text-transform: uppercase;
  padding: 0 2px 0 50px;
  margin-top: -20px;
  background: white;
  position: relative;
}
.about-us__title {
  width: 160px;
}
.our-works__title {
  width: 290px;
}
.news__title{
  width: 215px;
}
.feedback__title{
  width: 200px;
}
.contact__title{
  width: 225px;
}
.back{
  margin-left: 0px;
  padding-left: 50px;
}
.back li {
  display: inline-block;
}
.back__to-main, 
.back__current {
  color: #2f1307;
  text-transform: uppercase;
}
.back__to-main {
  text-decoration: underline;
  cursor: pointer;
}
.about-us__description {
  padding: 15px 50px 0 50px;
  font-size: 16px;
  text-align: justify;
  display: flex;
}
.about-us__description__text {
  flex-direction: row;
  padding: 0 50px 0 0;
}
.about-us__description__pictures {
  flex-direction: row;
  width: 324px;
}
.about-us__description__pictures__img {
  width: 324px;
  height: 200px;
  display: block;
  margin-bottom: 20px;
}


.news__description {
  margin: 30px 60px 60px 50px;
}
.news__description__img {
  width: 324px;
  height: 200px;
  float: left;
  margin-right: 10px;
}

.news__description__title, .news-full__description__title {
  display: block;
  background-color: #876c29;
  color: #fff;
  padding: 6px;
  font-size: 20px;
}
.news__description__title{
    margin-left: 334px;
}
.news__description__title__date {
  float: right;
}
.news__description__content{
  text-align: justify;
}

.news__description__full {
  background-color: #876c29;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black, inset 1px 1px 2px black;
  margin-left: 85%;
  text-align: center;
}
.news__description__full_link {
  display: inline-block;
  color: white;
  font-size: 20px;
}
.news__description__full_link:link, 
.news__description__full_link:visited, 
.news__description__full_link:hover, 
.news__description__full_link:active {
  text-decoration: none;
  color: white;
}



.feedback__description {
  border-bottom: 2px solid #876c29;
}
.feedback__description__img_boy {
  width: 113px;
  height: 113px;
  float: left;
  margin-right: 10px;
  background: url(../img/faces.jpg) no-repeat;
}
.feedback__description__img_girl {
  width: 113px;
  height: 113px;
  float: left;
  margin-right: 10px;
  background: url(../public/img/faces.jpg) 0 -155px no-repeat;
}

.feedback__description__title {
  color: #876c29;
  padding: 6px;
  font-size: 20px;
}
.feedback__description__content {
  color: #876c29;
}
.feedback__description__around {
  margin-bottom: 40px;
}


.contact__description {
  margin-bottom: 40px;
}
.contact__description__city {
  color: #876c29;
  text-transform: uppercase;
  background: white;
}
.contact__description__city__phone {
  display: inline-block;
  padding: 11px 0 0 50px;
}
.contact__description__city__phone__img {
  width: 58px;
  height: 30px;
  background: url(../img/phone.jpg) 0 -5px no-repeat;
}
.contact__description__city__mail {
  display: inline-block;
  padding: 11px 0 0 50px;
}
.contact__description__city__mail__img {
  width: 58px;
  height: 30px;
  background: url(../img/phone.jpg) 0 -53px no-repeat;
}
.contact__description__city__time {

}
.contact__description__around {
  padding: 0 0 70px 50px;
  font-weight: bold;
}


footer {
  font-size: 20px;
  background-color: #876c29;
  padding: 20px;
}

.footer__social {
  margin: 20px 0px;
  margin-bottom: 20px;
  text-align: center;
}
.footer__social li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}
.footer__social__facebook,
.footer__social__photo {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0px;
  font-size: 25px;
}
.footer__social__facebook {
  background: url('../img/facebook-logo-button.png') no-repeat;
  margin-right: 48px;
}
.footer__social__photo {
  background: url('../img/instagram-logo.png') no-repeat;
}
.footer__social__facebook:link, 
.footer__social__facebook:visited,
.footer__social__facebook:hover,
.footer__social__facebook:active,
.footer__social__photo:link,
.footer__social__photo:visited,
.footer__social__photo:hover,
.footer__social__photo:active {
  background-color: #876c29;
}

.footer__nav {
  text-align: center;
 }
.footer__nav li {
  display: inline-block;
  margin-right: 25px;
}
.footer__nav__link {
  color: white;
}
main {
  margin-top: 130px;
}
.page-new{
  height: 100;
}



@media (max-width: 1129px) {
  .main__description {
    padding-bottom: 20px;
  }
}


@media (max-width: 1090px) {
  .main__motto {
    font-size: 30px;
  }
}

@media (max-width: 1070px) {
  .header__nav__sections__link {
    font-size: 17px;
  }
  .logo{
    height: 100px;
    width: 200px;
  }
  footer {
    font-size: 17px;
  }
}
























.header__nav.navbar-default {
  box-shadow: none;

}

#bs-example-navbar-collapse-1.collapse.navbar-collapse {
  background-color: white;
}

















@media (max-width: 992px) {
  .navbar-toggle.collapsed {
    display: block;
    border: none;
    background-color: white;
    top: 0px;


  } 
    .navbar-default .navbar-toggle:hover,
    .navbar-toggle,
    .navbar-toggle:focus {
    background-color: #876c29;
    border-color: #876c29;

  }

    .navbar-default .navbar-toggle.collapsed:hover {
      background-color: white;

    }


    .navbar-toggle {
      top: -64px;
    }



  #bs-example-navbar-collapse-1.collapse.navbar-collapse {
  background-color: #876c29;
  width: 100%;
  margin-top: 100px;
  height: 300px!important;
  }

  .navbar-default .navbar-toggle.collapsed .icon-bar {
    width: 80px;
    height: 2px;
    margin-top: 10px;
    background-color: #876c29;

  }
  .navbar-default .navbar-toggle .icon-bar {
    width: 80px;
    height: 2px;
    margin-top: 10px;
    background-color: white;

  }


  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-default {
    float: none!important;
    margin-top: 20px;
  }
  .navbar-default>li {
    float: none;
  }
  .navbar-default>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse.in{
    display:block !important;
    background-color: #876c29;
    height: 300px;

  }
  .main__examples__object__img {
    height: 100%;
  }
  .main__examples__object {
    margin-bottom: 150px;
  }
  .main__examples__nav li {
    text-align: center;
    display: block;
    margin-bottom: -20px;
  }
  .main__examples__nav__link_top1 {
    position: relative;
    top: 440px;
    z-index: 9;
  }
  .main__examples__nav__link_top2 {
    position: relative;
    top: 880px;
    z-index: 9;
  }
  .news__description__title {
    font-size: 15px;
    margin-left: 0;

  }
  .news__description__full_link {
    font-size: 10px;
  }

  .header__nav__sections>li {
    display: list-item;
    height: 20px;
    vertical-align: top;
    margin-top: 10px;
  }

  .header__nav__sections {
      margin-top: -40px;
      margin-left: 30px;
  }

  .header__nav {
    text-align: left;
    float:left;
  }

  .header__nav__sections__link {
    color: white;
    padding: 5px;
  }

  .header__nav__sections__link:hover {
    text-decoration: none;
  }

  .header__nav__section__link_submenu {
    left:140px;
    top: -22px;
  }

  .header__nav__languages {
    top: 220px;
    left: 30px;
    position: relative;

  }
  .nav>li>a {
    padding: 1px;
  }
  .header__nav__languages__link {
    color: white;
    font-size: 12px;
    font-weight: 500;
  }

  header .nav {
    margin-right: 20px;
  }
  .about-us__title, 
  .our-works__title, 
  .news__title,
  .feedback__title,
  .contact__title {
    width: 100%;
    color: white;
    background-color: #876c29;
    top: -170px;
    text-transform: none;

  }


.cover {
  background: url('../public/img/main-backg.jpg') 0 -400px no-repeat;

}

.line {
  border-bottom: none;
}

  .order__form {
  left: 0;
  right: 0;
}

.navbar-toggle {
  display: block;


}


}

.main__examples__nav>li.main__examples__nav__works {
  text-align: center;
  display: inline-block;
  margin-right: 42px;
}
