<main class="feedback">
	<div class="line"><div class="cover"></div></div>
      <h2 class="feedback__title">Отзывы</h2>
    
    <ul class="back hidden-xs hidden-sm">
      <li><a ui-sref="index.main" class="back__to-main">Главная</a></li>
      <li><a href="" class="back__current"> / Отзывы</a></li>
    </ul>
	
	<div class="feedback__description__around">
		<div class="feedback__description" ng-repeat="feedback in ctrl.feedbacks">
			<div class="feedback__description__img_boy"></div>
			<h3 class="feedback__description__title" ng-bind="feedback.date"></h3>
			<p class="feedback__description__content" ng-bind="feedback.text"></p>
		</div>

	</div>
<!-- 	<input type="text" ng-model="ctrl.feedbackId">
	<input type="text" ng-model="ctrl.name">
	<textarea name="" id="" cols="30" rows="10" ng-model="ctrl.text"></textarea>
	<button ng-click="ctrl.addFeedback()">Submite</button>
 -->

</main>